
body {
    color:white;
    background-color:#3;
    font-family:trebuchet MS;
  }
  
  * {
    margin: 0;
    padding: 00;
  }
  
  header {
    position:relative;
    height: 2rem;
    padding: 1rem;
    margin: 0.3rem;
    background-color:purple;
  }
  
  .right-menu {
    position:absolute;
    top:0;
    right:0;
  }
  
  footer {
    position:absolute;
    width:100%;
    text-align:center;
    padding: 2rem;
    bottom:0;
    left: 0;
    box-sizing: border-box;
  }
  
  
  #footer-nav {
    text-align:left;
    position:relative;
  }
  
  main {
    text-align:center;
    padding-top:rem;
  }

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}

  
  /* On screens that are 400px or less, set the background color to purple */
  @media screen and (max-width: 400px) {
    body {
      background-color: purple;
    }
  }
  
